@using Payroll.Models.DownloadData
@model IEnumerable<DownloadDataViewModel>
@*@model System.Collections.ObjectModel.ObservableCollection<DownloadDataViewModel>*@
@{
    ViewBag.Title = "ConnectBiometric";
}

<h2>Download Data</h2>

<div class="container">
    @*Navigator*@
    <div class="row ">
        @*<div class="col-md-8">
            <div class="col-md-4 ">
                <div class="input-group input-group-sm">
                    <span class="input-group-addon" >DATE FROM: </span>
                    <input type="date" class="form-control" value="@Model.FROM" placeholder="Username"  aria-describedby="sizing-addon3">
                </div>
            </div>
            <div class="col-md-4">
                <div class="input-group input-group-sm">
                    <span class="input-group-addon" >DATE FROM: </span>
                    <input type="date" class="form-control" value="@Model.TO" placeholder="Username" aria-describedby="sizing-addon3">
                </div>
            </div>
        </div>*@
        <div class="col-md-4 col-sm-8 col-xs-10">
            <div class="col-md-4">
                
                @using (Html.BeginForm("DownloadDataBiometric", "DownloadData", FormMethod.Post))
                {
                   <input type="submit" value="DOWNLOAD" class="btn btn-primary btn-sm" />
                }

            </div>
            <div class="col-md-1 col-sm-8 col-xs-10 col-md-offset-2">
                @using (Html.BeginForm("UploadData", "DownloadData", FormMethod.Post))
                {
                    <input type="submit" value="UPLOAD" class="btn btn-primary btn-sm" />
                }
            </div>
        </div>
    </div>

    @*Table For Download Data*@
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="panel panel-primary list-panel" id="list-panel">
                <div class="panel-heading list-panel-heading">
                    <h1 class="panel-title list-panel-title">Data Log</h1>
                </div>
                <div class="panel-body">
                    @if (Model != null)
                    {
                        <table id="assets-data-table"
                               class="table table-striped table-bordered">
                            <tr>
                                <th>Serial No.</th>
                                <th>Device No.</th>
                                <th>User ID</th>
                                <th>Verify Model</th>
                                <th>Action</th>
                                <th>Date and Time</th>
                            </tr>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td> @item.SN
                                        <td> @item.DN
                                        <td> @item.DIN
                                        <td> @item.Type
                                        <td> @item.mode
                                        <td> @item.Clock
                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                    
                </div>
            </div>
        </div>
    </div>
</div>


